{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Filmy</title>
    <link type="text/css" rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Mako&display=swap" rel="stylesheet">
</head>
<header>
    <div class = "header"></div>
</header>
<body>
    <div class="embreve"><h1 class="embreve__titulo">EM BREVE</h1></div>
    
    <div class="filmes">
        <div class="filmes__embreve">
        </div>
    </div>
</body>
</html>
