{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Filmy</title>
    <link type="text/css" rel="stylesheet" href="{% static '/css/styles.css' %}">

</head>
<body>
    <h1>Em Breve</h1>
    <ul>
        {% for movie in movies %}
        <li>
            <h3>{{ movie.title }}</h3>
            <p>Release date: {{ movie.release_date }}</p>
        </li>
        {% endfor %}
    </ul>

    <div class="movies">
        <div class="movies__upcoming">
        Movie
        <div class="movies__upcoming__card">
            Card
        </div>
        </div>
    </div>
</body>
</html>
