body{
    margin: 0;
}

.container {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}